<div class="container">
    <section class="team-section pb-5" id="team">
        <h1 class="text-center py-5">Zespół</h1>
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card card-body">
                    <div class="avatar mx-auto my-3">
                        <img src="https://f1wm.pl/piec/images/piec.jpg" height="250px" width="250px" class="rounded-circle img-fluid" alt="First sample avatar image">
                    </div>
                    <h5 class="font-weight-bold">
                        <strong>Michał Piec</strong>
                    </h5>
                    <ul class="list-unstyled">
                        <!-- Facebook -->
                        <a class="icons-sm fb-ic">
                            <i class="fa fa-facebook blue-text"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="icons-sm tw-ic">
                            <i class="fa fa-twitter blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="icons-sm ins-ic">
                            <i class="fa fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card card-body">
                    <div class="avatar mx-auto my-3">
                        <img src="https://f1wm.pl/piec/images/misiunia.jpg" height="250px" width="250px" class="rounded-circle img-fluid" alt="First sample avatar image">
                    </div>
                    <h5 class="font-weight-bold">
                        <strong>Krzysztof Misiunia</strong>
                    </h5>

                    <ul class="list-unstyled">
                        <!-- Facebook -->
                        <a class="icons-sm fb-ic">
                            <i class="fa fa-facebook blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="icons-sm ins-ic">
                            <i class="fa fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>