<img class="img-fluid mx-auto my-2 d-block rounded mig-modals" src="assets/photos/offer/min/usluga_3_min.jpg" (click)="lotr.show()" />

<div mdbModal #lotr="mdb-modal" class="lotr-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Nazgul z Hobbitem</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="lotr.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img class="img-fluid my-2" src="assets/photos/offer/usluga_3.jpg" alt="">
        </div>
        <div class="text-left">
          <p>Hobbit trzymany w klatce przez Nazugl. Postać z tolkienowskiej sagi Władca Pierścieni. Duży kostium 2w1 daje świetne
            wrażenie iluzji optycznej. Budzi powszechnie zainteresowanie.</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="lotr.hide()" mdbWavesEffect>Zamknij</a>
      </div>
    </div>
  </div>
</div>