  <mdb-navbar id="top" SideClass="navbar navbar-expand-md navbar-dark indigo sticky-top">
    <logo>
      <a class="navbar-brand" href="#">Mig mig!</a>
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#top'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#about-us'">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#offer'">Usługi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#team'">Zespół</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect [ngx-scroll-to]="'#contact'">Kontakt</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>