<section id="offer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center my-5">
        <h1 class="font-bold">Usługi</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-bubbles></mig-bubbles>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-levitation></mig-levitation>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-lotr></mig-lotr>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-balloons></mig-balloons>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-costumes></mig-costumes>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <mig-pirate></mig-pirate>
      </div>
    </div>
  </div>
</section>